input {
  position: relative;
  height: 60px;
  left: 10px;
  width: 374px;
  border: none;
  outline: none;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 2em;
}
